.max-h-screen.min-h-screen.justify-start
  .hero.lg:p-20
    .hero-content.flex-col
      .text-center.py-8
        %ul.steps
          %li.text-white.font-bold.step.step-neutral Create Event
          %li.text-white.font-bold.step Share Schedule
          %li.text-white.font-bold.step Confirm
      .flex.flex-col.lg:flex-row.justify-center.gap-4
        .text-center.lg:text-left.w-50.card.bg-white.p-8.hidden.lg:flex
          %h1.lg:text-5xl.text-base-100.font-inter.font-bold Create your event
          %h2.lg:text-2xl.py-6.text-base-300.font-inter.font-bold.break-normal
            Fill out the name of your event.
          %h2.lg:text-2xl.py-6.text-base-300.font-inter.font-bold.break-normal
            Find out who's free this week or this month.
        .card.flex.flex-col.justify-center.items-center.bg-white.rounded-md.w-full.p-4
          = form_for :event, url: events_path, html: {class: "form"} do |form|
            .card-body.gap-4
              = form.hidden_field :start_date, value: Date.today
              .form-control.flex.flex-col.w-full.gap-1
                %label.text-2xl.font-inter.text-gray-400 You're invited to...
                = form.text_field :title, class: "input bg-gray-200 font-inter", data: {test_id: 'title_field'}, placeholder: "D&D Session"
              .form-control.flex.flex-col.w-full.gap-1
                %label.text-2xl.font-inter.text-gray-400 What's it about?
                = form.text_field :description, class: "input bg-gray-200 font-inter", data: {test_id: 'description_field'}, placeholder: "Time to fight the final boss"
              .form-control.flex.flex-col.w-full.gap-1
                %label.text-2xl.font-inter.text-gray-400 How far into the future?
                .flex.flex-row.bg-slate-100.justify-center.gap-2.rounded-md.w-full.py-1
                  = form.button "Week", class: "btn btn-accent px-8 font-bold font-inter text-white", id: "event_end_date", name: "event[end_date]", data: {test_id: "week_event"}, value: Date.today + 6
                  = form.button "Month", class: "btn btn-accent px-8 font-bold font-inter text-white", id: "event_end_date", name: "event[end_date]", data: {test_id: "month_event"}, value: Date.today + 30
