<div class="container mx-auto">
    <div class="flex-col">
        <%= form_for :event, url: events_path, html: {class: "form"} do | form | %>
            <div class="form-control">
                <label class="label" for="">Title</label>
                <%= form.text_field :title, data: {test_id: 'title_field'}, class: "input input-bordered" %>
            </div>
            <div class="form-control">
                <label class="label" for="">Description</label>
                <%= form.text_field :description, data: {test_id: 'description_field'}, class: "input input-bordered" %>
            </div>
            <%= form.hidden_field :start_date, value: Date.today %>
            <div class="btn-group">
                <%= form.button :end_date, data: {test_id: "week_event"}, value: Date.today.end_of_week, class: "btn" %>
                <%= form.button :end_date, data: {test_id: "month_event"}, value: Date.today.end_of_month, class: "btn" %>
            </div>
        <% end %>
    </div>
</div>
