<div class="max-h-screen w-full flex flex-col">
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h2 class="badge" data-test-id="event_start_date"><%= @event.start_date.strftime("%B-%d") %></h2>
                <h2 class="badge" data-test-id="event_end_date"><%= @event.end_date.strftime("%B-%d") %></h2>
                <h1 class="pt-2 text-xl font-bold" data-test-id="event_title"><%= title @event.title %></h1>
                <p class="py-2" data-test-id="event_description"><%= description @event.description %></p>

                <div class="stats flex flex-row">
                    <% days = @event.majority(@event.id) %>
                    <% if  days.empty? || days.nil? %>
                    <% else %>
                        <% days.each do | vote |  %>
                            <% break unless vote[1] >= 2   %>
                            <div class="stat">
                                <span class="stat-title"><%= Date.parse(vote[0].to_s).strftime("%a, %d") %></span>
                                <span class="stat-value"><%= vote[1] %></span>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="hero">
        <%= render "voters/form", local: {voter: @voter} %>
    </div>
    <div class="hero">
        <div class="hero-content">
            <% if @event.voters.empty? %>
                <p>Your friend's names will pop up here</p>
            <% else %>
                <div class="card w-full bg-base-100 shadow-xl">
                    <div class="card-body">
                        <% friends = days.first[1] %>
                        <h2 class="card-title"><%= friends.humanize.titleize %> <%= "friend".pluralize(friends) %> joined</h2>
                        <% @event.voters.each do | voter |  %>
                            <span class="badge badge-outline">
                                <%= voter.name %>:
                                <%= voter.votes.count %> days
                            </span>
                        <% end %>
                        <div class="card-actions justify-end">
                        </div>
                    </div>
                        <button type="button" class="btn swap swap-rotate flex" onclick="this.classList.add('swap-active'); navigator.clipboard.writeText('https://whenarewefree.com<%=event_path(@event) %>'); this.firstChild.textContent = 'Copied URL'">
                            Tap to Copy URL
                            <svg class="swap-off" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="0.75em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 384 512"><path fill="currentColor" d="M384 112v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h80c0-35.29 28.71-64 64-64s64 28.71 64 64h80c26.51 0 48 21.49 48 48zM192 40c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24m96 114v-20a6 6 0 0 0-6-6H102a6 6 0 0 0-6 6v20a6 6 0 0 0 6 6h180a6 6 0 0 0 6-6z"/></svg>
                            <svg class="swap-on" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="0.75em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 384 512"><path fill="currentColor" d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24s-24-10.7-24-24s10.7-24 24-24zm121.2 231.8l-143 141.8c-4.7 4.7-12.3 4.6-17-.1l-82.6-83.3c-4.7-4.7-4.6-12.3.1-17L99.1 285c4.7-4.7 12.3-4.6 17 .1l46 46.4l106-105.2c4.7-4.7 12.3-4.6 17 .1l28.2 28.4c4.7 4.8 4.6 12.3-.1 17z"/></svg>
                        </button>
                </div>
            <% end %>
        </div>
    </div>
</div>
