<div class="max-h-screen w-full flex flex-col">
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h2 class="badge" data-test-id="event_start_date"><%= @event.start_date.strftime("%B-%d") %></h2>
                <h2 class="badge" data-test-id="event_end_date"><%= @event.end_date.strftime("%B-%d") %></h2>
                <h1 class="pt-2 text-xl font-bold" data-test-id="event_title"><%= title @event.title %></h1>
                <p class="py-2" data-test-id="event_description"><%= description @event.description %></p>
                <div class="stats flex flex-row">
                    <% days = @event.majority(@event.id) %>
                    <% if  days.empty? || days.nil? %>
                    <% else %>
                        <% @event.majority(@event.id).each do | vote |  %>
                            <% break unless vote[1] >= 2   %>
                            <div class="stat">
                                <span class="stat-title"><%= Date.parse(vote[0].to_s).strftime("%a, %d") %></span>
                                <span class="stat-value"><%= vote[1] %></span>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="hero">
        <%= render "voters/form", local: {voter: @voter} %>
    </div>
    <div class="hero">
        <div class="hero-content">
            <% if @event.voters.empty? %>
                <p>Your friend's names will pop up here</p>
            <% else %>
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title">Your friends have voted:</h2>
                        <% @event.voters.each do | voter |  %>
                            <span class="badge">
                                <%= voter.name %>
                            </span>
                        <% end %>
                        <div class="card-actions justify-end">
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
