<div class="h-screen w-full flex flex-col">
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h2 class="badge" data-test-id="event_start_date"><%= @event.start_date%></h2>
                <h2 class="badge" data-test-id="event_end_date"><%= @event.end_date%></h2>
                <h1 class="pt-2 text-5xl font-bold" data-test-id="event_title"><%= @event.title %></h1>
                <p class="py-6" data-test-id="event_description"><%= @event.description %></p>
            </div>
        </div>
    </div>
    <div class="hero">
        <h2>Tap the days you are free</h2>
        <%= render "voters/form", local: {voter: @voter} %>
    </div>
</div>
