= form_with model: @voter do | form |
  = form.hidden_field :event_id, value: @event.id
  = form.fields_for "votes_attributes[]", Vote.new do |vote_form|
    .nm-flat-base-500.p-1
      = calendar(start_date: @event.start_date, number_of_days: @event.days.count) do |date|
        .lg:nm-flat-base-500.hover:nm-inset-base-500.rounded-xl.aspect-square.text-center.md:p-1
          %label.swap.swap-rotate.lg:p-2
            / this hidden checkbox controls the state
            = vote_form.check_box :_destroy, checked: true, data: { test_id: "calendar_day"}, id: date
            .swap-on.text-center.pt-3.font-Karla
              %span.text-md.lg:text-xl.lg:font-bold= date.strftime("%d")
            / checkmark icon
            %svg.swap-off.stroke-green-300.w-10.h-10.self-stretch{:fill => "none", :stroke => "currentColor", "stroke-width" => "2", :viewbox => "0 0 24 24", :xmlns => "https://www.w3.org/2000/svg"}
              %path{:d => "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            = vote_form.hidden_field :day, value: date
            = vote_form.hidden_field :voter_id, value: @voter.id
            = vote_form.hidden_field :event_id, value: @event.id
      .nm-flat-base-500.text-center
        = form.text_field :name, data: {test_id: "name" }, class: "input focus:outline-0 nm-inset-base-500 focus:nm-inset-base-500 sm:input-lg font-Karla", placeholder: "Type name..."
        = form.button "Share", data: { test_id: "submit" }, class: "btn hover:nm-inset-neutral-500"
