.simple-calendar.p-1
  %span.calendar-title.font-rubik.font-medium.lg:text-lg
    = t('date.abbr_month_names')[start_date.month]
    = start_date.year
  %table.table-auto.table-striped.text-center.lg:text-xl
    %thead.text-center
      %tr
        - date_range.slice(0, 7).each do |day|
          %th.font-rubik.text-gray-400.font-bold= t('date.abbr_day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        = content_tag :tr, class: calendar.tr_classes_for(week) do
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block)
                - capture_haml(day, sorted_events.fetch(day, []), &passed_block)
              - else
                - passed_block.call day, sorted_events.fetch(day, [])
