<!DOCTYPE html>
<html data-theme="safe">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                                                                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                                                                                                      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
     })(window,document,'script','dataLayer','GTM-585PPVS');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'WhenAreWeFree?' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar bg-base-100 text-center p-4">
      <div class="navbar-start">
      </div>
      <div class="navbar-center">
        <a class="normal-case text-xl font-Indie p-4 hover:nm-inset-base-500 rounded" href="/">when are we free?</a>
      </div>
      <div class="navbar-end">
      </div>
    </div>
    <%= yield %>
  </body>
</html>
