<!DOCTYPE html>
<html data-theme="safe">
  <head>
    <title>WhenAreWeFree</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'WhenAreWeFree?' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar bg-base-100 text-center p-4">
      <div class="navbar-start">
      </div>
      <div class="navbar-center">
        <a class="normal-case text-xl font-Indie p-4 hover:nm-inset-base-500 rounded" href="/">when are we free?</a>
      </div>
      <div class="navbar-end">
      </div>
    </div>    <%= yield %>
  </body>
</html>
